<div class="teaching-container">
    <div class="metrics">
        <app-informational-card [title]="'Comments for Follow-Up'" [metric]="'54'"></app-informational-card>
        <app-informational-card [title]="'Comments for Follow-Up'" [metric]="'54'"></app-informational-card>
        <app-informational-card [title]="'Comments for Follow-Up'" [metric]="'54'" [link]="'teaching-staff/follow-ups'"></app-informational-card>
    </div>
    <app-class-card *ngFor="let course of getCourseList()" [course]="course"></app-class-card>
</div>