<div class="login-container">
  <div class="login-form">
    <div class="error" *ngIf="error">{{error}}</div>
    <mat-form-field>
      <mat-label>User</mat-label>
      <input matInput placeholder="student" [ngModel]="username" (ngModelChange)="username = $event" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="***********" type="password" [ngModel]="password" (ngModelChange)="password = $event" required>
    </mat-form-field>
    <button mat-raised-button (click)="login()">Login</button>
  </div>
</div>
