.header-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 25px auto;
    width: 75%;

    .title {
        text-align: center;

        h1 {
            font-size: 3em;
            margin: 10px;
            font-family: Arvo, serif;
        }

        margin-bottom: 25px;
    }

    .status {
        align-self: center;
        text-align: center;

        p {
            margin: 0px;
        }
    }
}