.input-field-container {
    padding: 10px;

    display: flex;
    flex-direction: column;

    button {
        margin-top: 10px;
    }

    textarea {
      background-color: #FFFFFF;
      width: 100%;
    }
}
