<div class="video-player-container">
	<div class="video">
    <video #target class="video-js video" controls muted playsinline preload="none"></video>
	</div>
	<div class="feed">
		<div class="items">
			<app-feed-item [feedItem]="feedItem" *ngFor="let feedItem of getFeedItems()"></app-feed-item>
		</div>
		<div class="input">
			<app-input-field [videoId]="video._id" [courseId]="courseId" [currentTime]="videoJSPlayer.currentTime()"></app-input-field>
		</div>
	</div>
	<div class="back-btn">
		<a [routerLink]="['/course/' + courseId]">&laquo; Back to Lesson List</a>
	</div>
</div>
