<div class="video-player-container">
	<div class="video">
		<video id="video" class="video" controls preload="auto" *ngIf="video">
			<source src="{{video.videoUrl}}" type="video/mp4" />
		</video>
	</div>
	<div class="feed">
		<div class="items">
			<app-feed-item [feedItem]="feedItem" *ngFor="let feedItem of getFeedItems()"></app-feed-item>
		</div>
		<div class="input">
			<app-input-field></app-input-field>
		</div>
	</div>
	<div class="back-btn">
		<a [routerLink]="['/course/' + courseId]">&laquo; Back to Lesson List</a>
	</div>
</div>
